# Python cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environment folders
venv/
.venv/
env/
.env/
ENV/

# Data storage & cache
data/
data/*

# OS-specific files
.DS_Store
Thumbs.db

# IDE/project files
.vscode/
.idea/
